---
// Reusable decorative divider with botanical leaf motif
import LeafDivider from '@components/illustrations/dividers/LeafDivider.astro';
---

<div class="decorative-divider">
  <LeafDivider />
</div>
